{% extends "base.html" %}
{% block content %}

<h2>Write a New Blog Post</h2>
<p class="error">{{title_error}}</p>
<p class="error">{{body_error}}</p>
<form method='post'>
    <div>
        <label>Title</br>
            <input type="text" name="blog_title" value="{{blog_title}}"/>
        </label>
    </div>
    </br>
    <div>
        <label>Body</br>
            <textarea name="blog_body" value="{{blog_body}}"></textarea>
        </label>
    </div>
    <input type="submit" value="Post"/>
</form>


{% endblock %}
